[submodule "third_party/minknow_api"]
	path = third_party/minknow_api
	url = https://github.com/nanoporetech/minknow_api
[submodule "third_party/HdrHistogram_c"]
	path = third_party/HdrHistogram_c
	url = https://github.com/HdrHistogram/HdrHistogram_c
